:root {
    --color: #F9C364;
}

body {
    /* font-family: system-ui; */
    background-color: var(--color);
}


#title {
    color: black;
    font-size: 32px;
    font-style: bold;
    margin: 12px;
}

span {

    border-radius: 42px;
    padding: 8px;
    background-color: black;
    color: var(--color);
    font-style: italic;
    animation: TextStyle 1s ease infinite;
}

@keyframes TextStyle {
    0% {
        font-style: normal;
    }

    50% {
        font-style: bold;
    }

    100% {
        font-style: italic;
    }

}